.mainContainer {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section1 {
    /* border: 1px solid lightsalmon; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #1f2937;
    color: azure;
    padding: 10px 50px 60px;
}

.logo {
    font-size: 24px;
    color: f9faf8;
    font-weight: bold;
}

.header {
    /* border: 1px solid yellow; */
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.links {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: white;
}

.links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.titlepage {
    /* border: 1px solid red; */
    display: flex;
    margin: 50px;
}

.titlepage div {
    /* border: 5px solid white; */
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.feature-image {
    height: auto;
    width: 400px;
}


/* .sign-up-button {
    display: inline-block;
    background-color: #1877F2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
} */

.section2 {
    border: 1px solid lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: auto;
    gap: 10px;
}


/* .section2 div {
    border: 1px solid red;
    gap: 10px;
    padding: 20px;
} */

.section-two-title h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px;
}

.smaller-sections2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.smaller-sections2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #115dc7;
    height: 80px;
    width: 150px;
    border-radius: 5%;
}

.subtext {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 200px;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 400px;
    font-size: 26px;
    font-style: italic
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 400px;
    font-size: 26px;
    font-style: italic
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
}

.author {
    font-weight: bold;
    font-size: 17px;
    display: flex;
    justify-content: end;
}

.section4 {
    /* border: 1px solid red; */
    padding: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advertisement {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 30px;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 50px;
}

.call {
    font-size: 18px;
    font-weight: bold;
}

.sign-up-button {
    background-color: #1877f2;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.sign-up-button:hover {
    background-color: #1565c0;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}